@{
    ViewData["Title"] = "Login";
}
<h1>Login page reached! (Login Controller, Index)</h1>
<h2>Login</h2>
<form action="/login" method="POST">
    <table>
        <tr>
            <td><label for="lem">Email:</label></td><td><input type="text" name="email" id="lem" value="kate.walasek@outlook.com"></td>
        </tr>
        <tr>
            <td><label for="lpw">Password</label></td><td><input type="text" name="password" id="lpw" value="kenshin87"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Login"></td>
        </tr>
    </table>
    <span style="color:red">@ViewBag.LoginError</span>
</form>
<h1>Register</h1>
<form action = "/user/verify" method = "POST">
    <table>
        <tr>
            <td><label for="fn">First Name:</label></td><td><input type="text" id="fn" name="firstname" value="Brad"></td>
        </tr>
        <tr>
            <td><label for="ln">Last Name:</label></td><td><input type="text" id="ln" name="lastname" value="Walasek"></td>
        </tr>
        <tr>
            <td><label for="em">Email:</label></td><td><input type="text" id="em" name="email" value=""></td>
        </tr>
        <tr>
            <td><label for="pw">Password:</label></td><td><input type="text" id="pw" name="password" value="qwert"></td>
        </tr>
        <tr>
            <td><label for="pwc">Confirm Password:</label></td><td><input type="text" id="pwc" name="passwordconfirm" value="qwert"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
@{
    if (!(@ViewBag.error is null))
    {
        foreach(var error in @ViewBag.error)
        {
            if(@error.Errors.Count >=1)
            {
                @error.Errors[0].ErrorMessage
                <br>
            }
        }
}
}